body {
  background: #141414;
  color: #fff;
  font-family: Helvetica, sans-serif;
}

.sidebar .movie-container {
  padding-left: 50px;
 }
.sidebar .movie-list {
  display: block;
  width: 50%;
  margin-bottom: 30px;
}

i.fa {
  margin-left: 10px;
}