.movie-list {
    display: grid;
    row-gap: 30px;
}

.container {
    grid-gap: 60px;
}

.movie-list {
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    grid-template-rows: auto;
}

@media (min-width: 992px) {
    .movie-list {
        grid-template-columns: repeat(4, 1fr);
    }
  }
