.movie-list {
    display: grid;
    

}

.container {
    grid-gap: 60px;
}

.movie-list {
    grid-gap: 20px;
}

@media (min-width: 992px) {
    .movie-list {
        grid-template-columns: repeat(4, 1fr);
    }
  }
