.nav-container{
    border-right: solid 1px #f2f2f2;
    padding: 1rem 0;
    height: 100vh;
    }

.nav-links li {
    padding: 1rem;
}
.nav-links li a {
    color: #f2f2f2;
    display: inline;
    font-weight: 900;
    text-align: center;
    font-size: 24px;
}

ul.nav-links {
    padding: 0;
}
.nav-links li {
    margin: auto;
}
